* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 85%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    z-index: 15;
    position: relative;
}

.header__left {
    z-index: 99;
}

.header__left_link {
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: #3E4D5E;
    padding-left: 30px;
}

.header__left a:not([href]):not([tabindex]) {
    color: #3E4D5E;
}

.header__right {
    z-index: 15;
    margin-top: 5px;
}

.header__right_btn, .membership__types_type-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
}

.header__right_btn:first-child {
    border: 3px solid #61B8E9;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 6px 14px;
}

.header__right a:first-child {
    color: #61b8e9;
}

.header__right a:last-child, .membership__types_type-btn {
    color: #fff;
}

.header__right_btn:last-child, .membership__types_type-btn {
    background: #61B8E9;
    border-radius: 30px;
    padding: 9px 30px;
    margin-left: 30px;
}

.header__left_logo {
    transition: all 1500ms ease 0ms;
}

.header__left_logo:hover {
    transform: rotate(360deg);
    transition: transform 500ms ease 0ms;
}

.header__left_link:hover {
    color: #64B9E7 !important;
}

.header__right_btn:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.header__right_btn:first-child:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.menu-popup {
    position: fixed;
    top: 0;
    right: 0%;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fff 10%, #64B8E9 70%);
    z-index: 99;
    transition: 0.5s;
    transform: translateY(-100%);
}

.menu-popup__list {
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate(-50%, -50%);
}

.menu-popup__item {
    margin: 0 auto;
    text-align: center;
}

.menu-popup__link {
    font-size: 22px;
    font-weight: 700;
    color: white !important;
}

.menu-popup__button {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 213px;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate(-50%, -50%);
    display: flex;
}

.menu-popup__btn-1 {
    display: inline-block;
    padding: 3px 14px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background: none;
    border: 3px solid white;
    border-radius: 30px;
}

.menu-popup__btn-2 {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 27px;
    font-size: 18px;
    font-weight: 700;
    color: #61B8E9;
    background: white;
    border: 3px solid white;
    border-radius: 30px;
}

.menu-popup--active {
    transform: translateY(0%);
}

.navigation__burger {
    z-index: 100;
}

.navigation__burger span {
    position: absolute;
    top: 70%;
    height: 4px;
    width: 30px;
    margin-left: 0px;
    background: #3E4D5E;
}

.navigation__burger span::before {
    transform: translateY(-5px);
}

.navigation__burger span::before, .navigation__burger span::after {
    content: '';
    display: block;
    transition: 0.4s;
}

.navigation__burger span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 30px;
    margin-top: -5px;
    margin-left: -15px;
    background: #3E4D5E;
}

.navigation__burger span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 30px;
    margin-top: 1px;
    margin-left: -15px;
    background: #3E4D5E;
}

.navigation__burger span::after {
    transform: translateY(5px);
}

.burger-show {
    display: none;
}

.navigation__burger--active span {
    transform: rotate(49deg);
    width: 29px;
    background: #fff
}

.navigation__burger--active span:before {
    transform: rotate(85deg);
    top: 115%;
    background: #fff;
}

.navigation__burger--active span:after {
    height: 0;
}

.container__h1 {
    z-index: 14;
    position: relative;
    margin-top: 110px;
}

.container__h1_size {
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 73px;
    color: #3E4D5E;
}

.animation {
    min-height: 61vw;
}

.animation__block {
    position: absolute;
    top: 0;
    width: 87%;
    height: 78vw;
    right: 4.83vw;
}

.bg-1 {
    width: 24vw;
    height: 64vw;
    position: absolute;
    right: 0;
    top: -8vw;
    border-radius: 27vw;
    z-index: 3;
}

.bg-1__animated1 {
    position: absolute;
    background: #EFF8FD;
    border-radius: 50vw;
    height: 100%;
    width: 100%;
}

/* .animated1 {
    transform: translateY(60px);
} */

.bg-2 {
    width: 24vw;
    height: 64vw;
    position: absolute;
    right: 31.4vw;
    top: 11vw;
    border-radius: 27vw;
    z-index: 3;
}

.bg-2__animated2 {
    position: absolute;
    background: #EFF8FD;
    border-radius: 50vw;
    height: 100%;
    width: 100%;
}

.bg-3 {
    width: 24vw;
    height: 24vw;
    position: absolute;
    right: auto;
    top: 32vw;
    border-radius: 127vw;
    z-index: 3;
    left: 0;
}

.bg-3__animated3 {
    position: absolute;
    background: #EFF8FD;
    border-radius: 50vw;
    height: 100%;
    width: 100%;
}

.bg-4 {
    width: 15vw;
    height: 40vw;
    position: absolute;
    right: 0;
    top: 16vw;
    border-radius: 27vw;
    z-index: 3;
}

.bg-4__animated4 {
    position: absolute;
    background: #64B9E7;
    border-radius: 50vw;
    height: 100%;
    width: 100%;
}

.bg-5 {
    width: 15vw;
    height: 40vw;
    position: absolute;
    right: 19vw;
    top: 28vw;
    border-radius: 27vw;
    z-index: 3;
}

.bg-5__animated5 {
    position: absolute;
    background: #64B9E7;
    border-radius: 50vw;
    height: 100%;
    width: 100%;
}

.bg-6 {
    width: 15vw;
    height: 15vw;
    position: absolute;
    right: 38vw;
    top: 41vw;
    border-radius: 27vw;
    z-index: 3;
}

.bg-6__animated6 {
    position: absolute;
    background: #64B9E7;
    border-radius: 50vw;
    height: 100%;
    width: 100%;
}

.bg-1__animated1 {
    -webkit-animation: pulses 3s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation: pulses 3s infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulses {
    0% {
        top: 0px;
    }
    50% {
        top: 8vh;
    }
    100% {
        top: 0px;
    }
}

@keyframes pulses {
    0% {
        top: 0px;
    }
    50% {
        top: 8vh;
    }
    100% {
        top: 0px;
    }
}

.bg-2__animated2 {
    -webkit-animation: pulses2 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation: pulses2 4s infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulses2 {
    0% {
        top: 0px;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0px;
    }
}

@keyframes pulses2 {
    0% {
        top: 0px;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0px;
    }
}

.bg-3__animated3 {
    -webkit-animation: pulses3 5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation: pulses3 5s infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulses3 {
    0% {
        top: 0px;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0px;
    }
}

@keyframes pulses3 {
    0% {
        top: 0px;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0px;
    }
}

.bg-4__animated4 {
    -webkit-animation: pulses4 6s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation: pulses4 6s infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulses4 {
    0% {
        top: 0px;
    }
    50% {
        top: 8vh;
    }
    100% {
        top: 0px;
    }
}

@keyframes pulses4 {
    0% {
        top: 0px;
    }
    50% {
        top: 8vh;
    }
    100% {
        top: 0px;
    }
}

.bg-5__animated5 {
    -webkit-animation: pulses5 2.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation: pulses5 2.5s infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulses5 {
    0% {
        top: 0px;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0px;
    }
}

@keyframes pulses5 {
    0% {
        top: 0px;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0px;
    }
}

.bg-6__animated6 {
    -webkit-animation: pulses6 7s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation: pulses 7s infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulses6 {
    0% {
        top: 0px;
    }
    50% {
        top: 8vh;
    }
    100% {
        top: 0px;
    }
}

@keyframes pulses6 {
    0% {
        top: 0px;
    }
    50% {
        top: 8vh;
    }
    100% {
        top: 0px;
    }
}

.about {
    z-index: 10;
    position: relative;
}

.about__container_text {
    font-style: normal;
    color: #3E4D5E;
}

.about__container_text-size-h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
}

.about__container_text-size-p {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
}

.about__container .about__container_text:nth-child(3) {
    margin-top: 60px;
}

.advantages {
    padding-top: 90px;
}

.advantages__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantages__item {
    max-width: 270px;
}

.advantages__item:last-child {
    margin-right: 70px;
}

.advantages__item_size-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.advantages__item_size-p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px
}

.platform {
    background: #60B8E9;
    border-radius: 0px 300px 300px 0px;
    margin-top: 80px;
}

.platform__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.platform__item:first-child {
    width: 70%;
}

.platform__item:last-child {
    margin-right: 9vw;
}

.platform__item_size-h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 45px;
}

.platform__item_size-p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding-bottom: 80px;
}

.platform__item_btn {
    background: #fff;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: block;
    line-height: 140px;
}

.platform__item_btn {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.14);
    animation: puls_shadow 2s infinite;
}

@keyframes puls_shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.platform__item_btn:hover {
    transform: scale(1.1);
}

.platform__item_btn-span {
    display: block;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    color: #60B8E9;
}

.currency {
    margin-top: 120px;
}

.currency__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currency__item {
    display: flex;
    flex-direction: column;
}

.currency__item:last-child {
    display: flex;
    flex-direction: row;
}

.currency__item_size-h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
    color: #3E4D5E;
    text-transform: uppercase;
}

.currency__item_size-p-green {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
    color: #B3FFCC;
}

.currency__item_size-p-red {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
    color: #FFB3B3;
}

.currency__item_flex {
    display: flex;
}

.currency__item_rates {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #60B8E9;
    text-transform: uppercase;
    padding-right: 10px;
}

.currency__item_display-hover {
    display: none;
}

.currency__item:hover .currency__item_display {
    display: none;
}

.currency__item:hover .currency__item_display-hover {
    display: block;
}

/* .maps {
    position: relative;
} */

.maps {
    margin-top: 120px;
    margin-bottom: 100px;
    overflow: hidden;
    border-top-left-radius: 402px;
    border-bottom-left-radius: 405px;
    position: relative;
}

button.bt-map {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 2;
    display: block;
    padding: 3px 27px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: none;
    border: 3px solid #fff;
    border-radius: 30px;
}

.bt-map:hover {
    background: #fff;
    color: #64B9E7;
    border-color: #fff;
}

@media (max-width: 1080px) {}

#map * {
    transition: none;
}

#map {
    /* touch-action: initial !important; */
    /* pointer-events: none; */
    touch-action: auto !important;
    /* touch-action: pan-y pinch-zoom !important; */
    height: 800px;
    width: 100%;
}

@media (max-width: 1280px) {
    #map {
        height: 600px;
    }
}

body .maps [class*="ymaps-2"][class*="-placemark-overlay"]:last-child {
    display: none !important;
}

body #map [class*="ymaps-2"][class*="-searchbox-button"] {
    transition: all 0.3s ease;
}

[class*="ymaps-2"][class*="-copyright"] {
    display: none !important;
}

body [class*="ymaps-2"][class*="-_pin_right"] {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0 2px 0.23vw -3px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    background-color: #fff;
    box-sizing: border-box !important;
    border-width: 0 !important;
    border-style: solid;
    background-clip: border-box;
    width: 100px;
    cursor: pointer;
    -webkit-transition: background-color .15s ease-out, border-color .15s ease-out, opacity .15s ease-out;
    transition: background-color .15s ease-out, border-color .15s ease-out, opacity .15s ease-out;
    display: inline-block;
    text-align: center;
    height: 39px;
    margin-left: 45px;
    border-radius: 30px !important;
}

body [class*="ymaps-2"][class*="-searchbox-button-text"] {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 39px;
    color: #64B9E7;
    font-weight: 700;
}

body [class*="ymaps-2"][class*="-_pin_right"]:hover {
    background: #3E4D5D !important;
}

body [class*="ymaps-2"][class*="-searchbox__normal-layout"] {
    width: 98% !important;
}

body [class*="ymaps-2"][class*="-controls__toolbar"] {
    margin-top: 30px;
    margin-left: -270px !important;
}

body [class*="ymaps-2"][class*="-searchbox-input__input"] {
    display: block;
    width: 100%;
    height: 39px;
    padding: 0 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: transparent;
    background-clip: padding-box;
    box-sizing: border-box !important;
    font-weight: 600;
}

body [class*="ymaps-2"][class*="-controls__control"] {
    top: 280px !important;
}

@media (max-width: 1280px) {
    body [class*="ymaps-2"][class*="-controls__control"] {
        top: 200px !important;
    }
}

body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
    margin-right: -80px !important;
}

[class*="ymaps-2"][class*="-float-button"] {
    border-radius: 0 !important;
}

[class*="ymaps-2"][class*="-controls__control"] {
    right: 0px !important;
    left: auto !important;
}

[class*="ymaps-2"][class*="-map"] * {
    box-shadow: none !important;
}

[class*="ymaps-2"][class*="-searchbox__normal-layout"]:after {
    box-shadow: none !important;
}

[class*="ymaps-2"][class*="-searchbox-input"] {
    border-radius: 500px !important;
}

body [class*="ymaps-2"][class*="-search__suggest"] {
    margin-top: 3px !important;
    border: 0 !important;
}

[class*="ymaps-2"][class*="-zoom"] {
    margin-right: 20px;
}

body [class*="ymaps-2"][class*="-_pin_right"]:hover [class*="-searchbox-button-text"] {
    color: #fff !important;
}

html body [class*="ymaps-2"][class*="-popup"] {
    display: none !important;
}

@media (min-width: 1081px) {
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 47vw;
    }
    body [class*="ymaps-2"][class*="-controls__toolbar"] {
        float: right !important;
    }
}

@media (max-width: 1080px) {
    .map-container {
        border-radius: 0 !important;
    }
    body .maps {
        margin-bottom: 60px;
    }
    body [class*="ymaps-2"][class*="-controls__toolbar"] {
        width: 87vw !important;
        margin-left: 10px !important;
    }
    button.bt-map {
        background: none;
        position: absolute;
        top: 100px;
        z-index: 2;
        right: auto;
        left: 30px;
    }
}

@media (max-width: 768px) {
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        margin-right: 0 !important;
        margin-left: -10px !important;
        width: 97vw;
    }
    body [class*="ymaps-2"][class*="-searchbox__input-cell"] {
        width: 95vw;
    }
    body [class*="ymaps-2"][class*="-searchbox__button-cell"] {
        position: absolute;
        top: 60px;
        right: 0;
    }
    [class*="ymaps-2"][class*="-zoom"] {
        display: none !important;
    }
    body [class*="ymaps-2"][class*="-controls__toolbar"] {
        max-width: 95% !important;
    }
    button.bt-map {
        left: 10px;
    }
}

[class*="ymaps-2"][class*="-ground-pane"] {
    -webkit-filter: grayscale(100%) invert(0.74) url(../img/yellowfilter.svg#yellowfilter);
    filter: grayscale(100%) invert(0.74) url(../img/yellowfilter.svg#yellowfilter);
}

.footer {
    padding-bottom: 120px;
    position: relative;
    z-index: 15;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 32;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__item_btn:first-child {
    border-radius: 30px;
    padding: 12px 21px;
    background: #7F90A4;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.footer__item_btn:first-child:hover {
    background: #3E4D5D;
}

.footer__item_btn:nth-child(2):hover {
    border: 3px solid #3E4D5D;
    color: #3E4D5D;
}

.footer__item_btn:nth-child(2) {
    border: 3px solid #7F90A4;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 9px 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: #7F90A4;
    margin-bottom: 28px;
}

.footer__item_size {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #7F90A4
}

.footer__item_size-bold {
    font-weight: bold;
}

.footer__item_size-bold:nth-child(2) {
    padding-top: 20px;
}

.footer__item_size-color {
    color: #7F90A4
}

.footer__item_size-color:hover, .footer__item_size-a:hover, .footer__item_size-h3:hover {
    color: #3E4D5D;
}

.footer__item_size-a:hover {
    text-decoration-line: underline;
}

.footer__item_size-a {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-decoration-line: underline;
    color: #7F90A4;
    padding-top: 10px;
}

.footer__item_size-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #7F90A4
}

.footer__item_flex a:not([href]):not([tabindex]) {
    color: #7F90A4;
    cursor: pointer;
}

.footer__item_flex a:not([href]):not([tabindex]):hover {
    color: #3E4D5D;
}

.footer__item:last-child {
    justify-content: space-between;
}

.footer__item_flex {
    display: flex;
    flex-direction: column;
}

.footer__item_copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    color: #7F90A4;
    margin-bottom: 0;
}

/* Features */

.features {
    position: relative;
    overflow-x: hidden;
    z-index: 10;
}

.features__container {
    /* max-width: 1080px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto; */
    z-index: 15;
    position: relative;
}

.features p {
    margin-bottom: 0;
}

.features__h1, .membership__h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
    color: #3E4D5E;
    padding-top: 120px;
}

.features__p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #3E4D5E;
    margin-top: 30px;
}

.features__p_weight {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #3E4D5E;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
}

.features__p_blue {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #60B8E9;
    padding-top: 30px;
}

.features__p_weight-blue {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #60B8E9;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
}

.features__ellipse {
    position: absolute;
    width: 986px;
    height: 986px;
    border-radius: 50%;
    top: 0;
    right: -515px;
    background: #eff8fd;
    z-index: 10;
}

.membership {
    position: relative;
    z-index: 32;
}

.membership__types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 120px;
}

.membership__types_type {
    padding: 60px 120px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.07);
    border-radius: 50px;
    z-index: 32;
}

.membership__types_type-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #3E4D5E;
    margin-bottom: 45px;
}

.membership__types_type-h3::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 14px;
}

.bronze::before {
    background: #F6DED6;
}

.silver::before {
    background: #EAF3FC;
}

.gold::before {
    background: #F6F1D6;
}

.membership__types_type-text-p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 39px;
    color: #3E4D5E;
}

.membership__types_type-text-p-no-active {
    color: #DFE7EC;
}

.membership__types_type-text-price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #3E4D5E;
    margin: 60px 0px;
}

.membership__types_type-btn {
    margin-left: 0;
}

.footer_ellipse {
    background: #EFF8FD;
    position: absolute;
    left: 0;
    right: 0;
    width: 276%;
    height: 275vw;
    border-radius: 50%;
    margin-left: -88%;
}

.features__footer {
    margin-top: -277px;
    overflow: hidden;
}

.features__footer-conrainer {
    padding: 305px 150px 0px 150px;
    justify-content: space-between;
    position: relative;
}

.membership__types_type p {
    margin-bottom: 0;
}

.membership__types_type p.membership__types_type-text-price {
    margin-bottom: 20px;
}

/* Application for membership */

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

.application {
    margin-top: 120px;
    z-index: 10;
}

.application__tiltle {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 34px;
    color: #3E4D5E;
}

/* .form-area {

} */

.form-area__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #3E4D5E;
    margin-top: 45px;
}

input, select {
    border: none;
    width: 100%;
}

.form-area__form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.form-area__form-label {
    text-align: left;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #3E4D5E;
}

.form-area__form-licensed {
    font-style: normal;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #3E4D5E;
}

.form-area__form-input {
    display: block;
}

.application {
    text-align: center;
}

.application input[type="radio"] {
    width: auto;
    margin-top: 10px;
}

.licensed {
    text-align: left;
}

.licensed__label {
    margin-bottom: 0px;
    padding-left: 5px;
}

.license_border {
    border: none;
}

.form-area__textarea {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #3E4D5E;
    padding: 10px;
}

.form-area__form-label_color {
    color: #DFE7EC;
    margin-left: 5px;
}

.form__flex {
    border: none;
    display: flex;
}

.form-area__form-two, .form-area__form-three {
    border-bottom: 1px solid black;
}

.form-area__form-two:first-child {
    width: 100%;
}

.form-area__form-two:nth-child(2) {
    width: 29%;
    margin-left: 25px;
}

.form-area__form-three {
    width: 50%;
}

.form-area__form-three:nth-child(2) {
    margin-left: 20px;
}

.form-area__news {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

.form-area__news input {
    width: 4%;
    height: 15px;
}

.form-area__news label {
    cursor: pointer;
}

.form-area__news-label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #3E4D5E;
}

.form-area__news:last-child .form-area__news-label {
    border-bottom: 1px solid black;
}

.disabled {
    display: none;
}

.application__membership {
    text-align: center;
}

.t-center {
    justify-content: center;
}

.t-center .membership__types_type:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.membership__types_type-btn:hover {
    color: #fff;
}

.btn-3 {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 3px 27px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #DEE7EC;
    border: 3px solid #DEE7EC;
    border-radius: 30px;
    cursor: pointer;
}

.chosen {
    background: #61B8E9;
    border: 3px solid #61B8E9;
}

.payment {
    text-align: center;
    border: none;
    margin-top: 30px;
    z-index: 32;
}

.payment input {
    width: 5%;
}

.payment label {
    cursor: pointer;
}

.btn-send, .btn-next {
    padding: 3px 27px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #61B8E9;
    border: 3px solid #61B8E9;
    border-radius: 30px;
    margin-top: 60px;
}

.mt {
    margin-top: -80px;
}

.hide {
    display: none;
}

.invoice-display {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    background-color: white;
    height: 100vh;
}

.invoice-sent {
    text-align: center;
}

.invoice-sent h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 450px;
}

.invoice-sent img {
    position: absolute;
    top: 40px;
    left: 47%;
}

.invoice-next__btn-back {
    cursor: pointer;
}

.invoice-next__btn-back span {
    color: #DEE7EC;
    font-size: 20px;
    font-weight: 700;
}

.invoice-next__btn-back img {
    margin-top: -5px;
    margin-right: 10px;
}

.invoice-next__form {
    text-align: center;
}

.invoice-next__form_payment {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #3E4D5E;
    margin-top: 150px;
}

.paypal-form {
    max-width: 205px;
    margin: 0 auto;
}

.contacts__content {
    border: 1px solid grey;
    width: 410px;
    text-align: center;top: 200px;
    left: 39%;
    z-index: 35;
    background: #fff;
    opacity: 1;
    border-radius: 30px;
    margin:0 auto;
    margin-top:100px;
}

.contacts__content h4 {
    line-height: 1.5;
    font-size: 25px;
    font-weight: 700;
    margin-top: 33px;
    margin-bottom: 30px;
}

.contacts__content label span {
    color: red;
}

.contacts__content label {
    font-weight: 700;
    font-size: 17px;
}

.contacts__content_input {
    background: #eff8fd;
    text-align: center;
    height: 40px;
    width: 70%;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
}

.contacts__content_submit {
    height: 40px;
    border-radius: 10px;
    margin: 20px auto 30px auto;
    width: 70%;
}

.contacts__content_submit:hover {
    color: #fff;
    background: #000;
}

.contacts__content_button {
    border: none;
    background: #ffffff;
    font-weight: bold;
    float: right;
    margin-right: 35px;
    font-size: 20px;
}

.contacts {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    overflow-x: hidden; 
    overflow-y: auto;
}



.contact_js {
    cursor: pointer;
}

/* .country__select {
    padding-left:25%;
} */

@media (max-width:1450px) {
    .membership__types_type {
        padding: 60px 100px;
    }
}

@media (max-width:1270px) {
    .membership__types_type {
        padding: 60px 80px;
    }
}

@media (max-width:1150px) {
    .membership__types_type {
        padding: 60px 60px;
    }
}

@media (max-width:1000px) {
    .membership__types {
        flex-direction: column;
    }
    .t-center .membership__types_type:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .membership__types_type {
        padding: 60px 120px;
    }
    .membership__types_type:nth-child(2) {
        margin-top: 40px;
    }
    .membership__types_type:nth-child(3) {
        margin-top: 40px;
    }
}

@media (max-width:1460px) {
    .advantages__item:last-child {
        margin-right: 0px;
    }
}

@media (max-width:1350px) {
    .advantages__container {
        flex-wrap: wrap;
    }
    .advantages__item {
        max-width: 40%;
    }
}

@media (max-width:1200px) {
    .features__footer-conrainer {
        padding: 305px 100px 0px 100px;
    }
}

@media (max-width: 1080px) {
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 80vw !important;
        margin-left: 150px !important;
    }
    .currency__item_display {
        width: 70px;
    }
    .currency__item_display-hover {
        width: 70px;
    }
    .currency__item_size-h2, .currency__item_size-p-green, .currency__item_size-p-red, .currency__item_rates {
        font-size: 32px;
        line-height: 40px
    }
    .currency {
        margin-top: 60px;
    }
}

@media (max-width:1070px) {
    .currency__container {
        flex-wrap: wrap;
    }
    .currency__item {
        width: 40%;
    }
    .about__container_text-size-h2, .platform__item_size-h2 {
        font-size: 32px;
    }
    .about__container_text-size-p, .platform__item_size-p {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width:860px) {
    .currency__item_size-h2, .currency__item_size-p-green, .currency__item_size-p-red, .currency__item_rates {
        font-size: 26px;
    }
    .currency__item_display, .currency__item_display-hover {
        width: 60px;
        margin-top: -18px;
    }
    .maps {
        margin-top: 60px;
    }
    .container__h1_size {
        line-height: 52px;
    }
    .container__h1 {
        margin-top: 68px;
    }
    .features__footer-conrainer {
        padding: 305px 50px 0px 50px;
    }
}

@media (max-width:780px) {
    .about__container_text-size-h2, .platform__item_size-h2 {
        font-size: 30px;
    }
    .about__container_text-size-p, .platform__item_size-p {
        font-size: 20px;
        line-height: 26px;
    }
    .header__right_btn:last-child {
        margin-left: 0px;
    }
}

@media (max-width:768px) {
    .header__left_link, .header__right {
        display: none;
    }
    .burger-show, .menu-popup {
        display: block;
    }
    .header {
        padding-top: 40px;
    }
    .container__h1_size {
        text-align: center;
        line-height: 35px;
    }
    .container__h1 {
        margin-top: 15px;
    }
    .animation__block {
        top: 150px;
    }
    .about {
        margin-top: 160px;
        text-align: center;
    }
    .platform__container {
        flex-direction: column;
    }
    .platform__item_size-p {
        padding-bottom: 0px;
    }
    .platform__item_btn {
        margin-bottom: 40px;
    }
    .platform__item_size-h2 {
        padding-top: 35px;
        padding-bottom: 26px;
    }
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 75vw !important;
        margin-left: 150px !important;
    }
    .container__h1_size {
        font-size: 30px;
    }
    .features__h1, .membership__h2 {
        font-size: 30px;
    }
    .features__p, .features__p_blue {
        font-size: 18px;
    }
    .features__p_weight, .features__p_weight-blue {
        font-size: 24px;
    }
    .application__tiltle {
        font-size: 30px;
    }
    .form-area__title {
        font-size: 24px;
    }
    .application {
        margin-top: 45px;
    }
    /* .contacts__content {
        left:22%
    } */
}

@media (max-width:650px) {
    /* .container__h1 {
        margin-top: 68px;
    } */
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 65vw !important;
        margin-left: 150px !important;
    }
    .footer__container {
        flex-direction: column;
        text-align: center;
    }
    .footer__item_logo {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 80px;
    }
    .footer__item_copyright {
        position: absolute;
        bottom: 15px;
    }
    .footer__item_size-a {
        position: absolute;
        bottom: 175px;
        left: 44%;
    }
    .footer__item_btn {
        width: 150px;
    }
    .footer__item:first-child {
        flex-direction: row;
        justify-content: center;
    }
    .footer__item_btn:first-child {
        margin-bottom: 27px;
        margin-right: 5px;
    }
    .features__footer-conrainer {
        padding: 305px 0px 0px 0px;
    }
    .features__footer-conrainer .footer__item_copyright {
        bottom: -105px;
    }
    .features__footer-conrainer .footer__item_logo {
        bottom: -105px;
    }
    .features__footer-conrainer .footer__item_size-a {
        bottom: 110px;
    }
}
/* @media (max-width:540px) {
    .contacts__content {
        left:12%;
    }
} */
@media (max-width:480px) {
    .container__h1_size {
        font-size: 22px;
    }
    .about__container_text-size-h2, .platform__item_size-h2 {
        font-size: 21px;
        line-height: 26px;
    }
    .about__container_text-size-p, .platform__item_size-p {
        font-size: 18px;
        line-height: 24px;
    }
    .platform__item_btn {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
    .maps {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 65vw !important;
        margin-left: 110px !important;
    }
    .currency {
        margin-top: 30px;
    }
    .currency__item_size-h2, .currency__item_size-p-green, .currency__item_size-p-red, .currency__item_rates {
        font-size: 20px;
        line-height: 25px;
    }
    .currency__item_display, .currency__item_display-hover {
        width: 48px;
        margin-top: -26px;
    }
    h2 {
        margin-bottom: 0;
    }
    .advantages__item img {
        width: 100px;
    }
    .platform {
        border-radius: 0px 0px 0px 0px;
    }
    .platform__item:first-child {
        width: 100%;
    }
    .container__h1_size {
        line-height: 25px;
    }
    .advantages__item {
        max-width: 100%;
        text-align: center;
    }
    .membership__types_type {
        padding: 60px;
    }
    .application__tiltle {
        font-size: 24px;
    }
    .platform__item:last-child {
        margin-right: 0;
    }
    /* .contacts {
        left:8%;
    } */
    .contacts__content {
        width: 86vw;  }
}

@media (max-width:420px) {
    .features__h1, .membership__h2 {
        font-size: 24px;
    }
    .features__p, .features__p_blue {
        font-size: 16px;
    }
    .features__p_weight, .features__p_weight-blue {
        font-size: 20px;
    }
    .membership__types_type {
        padding: 60px 30px;
    }  
     .contacts {
        left:0;
        width:100%;
        top:10px;
    }
    .contacts__content {
        width: 100%;  }
}


@media (max-width:320px) {
    body [class*="ymaps-2"][class*="-controls__control_toolbar"] {
        width: 65vw !important;
        margin-left: 60px !important;
    }
}
@media (max-height:690px) {
 .contacts__content {
     margin-top:0;
 }
}
/* @media (max-height:485px) {
    .contacts {
        top:0;
    }
   } */